{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Group Messages</h1>
    <div style="word-wrap: break-word;">
    <ul class="list-group list-group-flush" id="messages">
      {% for message in messages %}
      <li class="list-group-item">
        {{ message.data }}
        {{ message.time}}
        <button type="button" class="close" onClick="deleteMessageGroup({{ message.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    </div>
    <form method="POST">
      <textarea name="message_of_group" id="message_of_group" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add message</button>
      </div>
    </form>
    {% endblock %}