{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Private Messages</h1>
  <ul class="list-group list-group-flush" id="messages">
    {% for message in messages %}
    <li class="list-group-item">
      <div style="word-wrap: break-word;">
      {% if message.owner_id == user.id %}
        {{ message.data }}
        {{ message.time }}
      <button type="button" class="close" onClick="deletemessage({{ message.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
      {% else %}
        {% if message.destination_id == user.id and message.owner_id != message.destionation_id%}
        {{ message.data}}
        {{ message.time }}
        {% else %}
        {% if message.encrypted_data%}
          {{ message.encrypted_data }}
          {{ message.time }}
        {% else %}
          {{ message.data }}
          {{ message.time }}
        {% endif %}
        {% endif %}
      {% endif %}
      </div>
    </li>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="message" id="message" class="form-control"></textarea>
    <br />
    <input type="text" name="public_key" id="public_key" class="form-control" placeholder="Enter Public Key to send encrypted message to the owner of the key">
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add message</button>
    </div>
  </form>
  {% endblock %}
