{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Private Messages</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in notes %}
    <li class="list-group-item">
      <div style="word-wrap: break-word;">
      {% if note.owner_id == user.id %}
        {{ note.data }}
        {{ note.time }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
      {% else %}
        {% if note.destination_id == user.id and note.owner_id != note.destionation_id%}
        {{ note.data}}
        {{ note.time }}
        {% else %}
        {% if note.encrypted_data%}
          {{ note.encrypted_data }}
          {{ note.time }}
        {% else %}
          {{ note.data }}
          {{ note.time }}
        {% endif %}
        {% endif %}
      {% endif %}
      </div>
    </li>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <input type="text" name="public_key" id="public_key" class="form-control" placeholder="Enter Public Key to send encrypted message to the owner of the key">
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
  {% endblock %}
